{
  "extends": "stylelint-config-standard",
  "rules":  {
    "color-hex-case": "upper",
    "shorthand-property-no-redundant-values": null,
    "rule-nested-empty-line-before": null,
    "declaration-empty-line-before": null,
    "at-rule-empty-line-before": null
  }
}
