:root {
  --day-width: calc((1/7) * 100%);
}

.tt-cal-dayHeaders,
.tt-cal-week {
  display: flex;
}

.tt-cal-columnHeader,
.tt-cal-dummyDay,
.tt-cal-day {
  flex: 0 1 var(--day-width);
  width: var(--day-width);
}

.tt-cal-columnHeader {
  text-align: center;
}

.tt-cal-headerInsideDay {
  /* The month header element will need to be position: absolute in this case */
  position: relative;
}

.tt-cal-inlineMonthHeader {
  position: absolute;
  right: 100%;
  margin: 0;
}
